// Grid settings
$main-sm-columns: 12;
$sidebar-sm-columns: 4;
$brand-primary: #cc0000;
$brand-bg: #f6f6f6;
$grid-columns: 24 !default;


$grid-breakpoints: (
  rs: 0,
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
