<header>
  <div class="wrap">
    <div class="logo">
      <a href="/" style="font-family: 'Lobster', cursive">
        '{{female}}
        <i class="fa fa-heart" style="animation:pulse 0.7s infinite; -webkit-animation:pulse 0.7s infinite"></i>
        '{{male}}
      </a>
    </div>
    <div class="menu-icon hamburger">
      <span></span>
    </div>
    <nav class="menu">
      <ul>

        <li class="menu__item">
          <a href="/events" class="menu__link">Events </a>
        </li>
        <li class="menu__item">
          <a href="/gallery" class="menu__link">Gallery</a>
        </li>
        <li class="menu__item">
          <a href="/people" class="menu__link">People</a>
        </li>
        <li class="menu__item">
          <a href="/wishes" class="menu__link">Wishes & Prayers</a>
        </li>
      </ul>
    </nav>
  </div>
</header>