<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="static/styles/main.css">
  </head>

  <body>
    <header>
      <div class="wrap">
        <div class="logo">
          <a href="#" style="font-family: 'Lobster', cursive">
            {{female}}
            <i class="fa fa-heart" style="animation:pulse 0.7s infinite; -webkit-animation:pulse 0.7s infinite"></i>
            {{male}}
          </a>
        </div>
        <div class="menu-icon hamburger">
          <span></span>
        </div>
        <nav class="menu">
          <ul>
            <li class="menu__item">
              <a href="/couple" class="menu__link">Couple's Profile</a>
            </li>
            <li class="menu__item">
              <a href="/events" class="menu__link">Events & Programmes</a>
            </li>
            <li class="menu__item">
              <a href="/gallery" class="menu__link">Gallery</a>
            </li>
            <li class="menu__item">
              <a href="/people" class="menu__link">People</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Wishes & Prayers</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>



    <!-- Swiper Silder
    ================================================== -->
    <!-- Slider main container -->

    <div class="content-body">
      <div class="swiper-container main-slider" id="myCarousel">
        <div class="swiper-wrapper">
          <div class="swiper-slide slider-bg-position" style="background:url('static/images/img-1.jpg')" data-hash="slide1">
            The txt
          </div>
          <div class="swiper-slide slider-bg-position" style="background:url('static/images/img-4.jpg')" data-hash="slide2">
            The txt
          </div>
        </div>

        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Navigation -->
        <div class="swiper-button-prev">
          <i class="fa fa-chevron-left"></i>
        </div>
        <div class="swiper-button-next">
          <i class="fa fa-chevron-right"></i>
        </div>
      </div>

    </div>
    <script src="static/scripts/jquery.js" charset="utf-8"></script>
    <script src="static/scripts/main.js" charset="utf-8"></script>
  </body>

</html>